<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<footer class="bg-dark text-center text-white mt-auto" th:fragment="footer">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <section class="mb-4">
            <p th:text="#{companyInfo.name}">a</p>
            <p th:text="#{companyInfo.address}">a</p>
            <p th:text="#{companyInfo.description}">
                as
            </p>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);" th:text=" #{companyInfo.date} ">
        as
        <a class="text-white" th:href="@{/public/publishedRecipes}" th:text="#{companyInfo.name}">uab</a>
    </div>
</footer>

<div th:fragment="successMsgNoArg(message)"
     th:if="${message ne null}"
     class="alert alert-success" role="alert" th:text="#{${message}}">
</div>

<div th:fragment="successMsg(message, arg)"
     th:if="${message ne null}"
     class="alert alert-success" role="alert" th:text="#{${message}(${arg})}">
</div>
<div th:fragment="failMsg(message)"
     th:if="${message ne null}"
     class="alert alert-danger" role="alert" th:text="#{${message}}">
</div>

<div th:fragment="failMsgWithArg(message, arg)"
     th:if="${message ne null}"
     class="alert alert-danger" role="alert" th:text="#{${message}(${arg})}">
</div>
<header class="p-3 bg-dark text-white mb-2" th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a th:href="@{/public/publishedRecipes}"
               class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="logoImg" th:src="@{/images/logo2.png}" height="50" width="60"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a th:href="@{/public/publishedRecipes}" th:text="#{menu.publishedRecipes}"
                       th:classappend="${#httpServletRequest.requestURI  eq '/public/publishedRecipes' ? 'text-white' : 'text-secondary'}"
                       class="nav-link px-2">Recipes</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyRole('USER','ADMIN')" th:href="@{/private/recipes}" th:text="#{menu.recipes}"
                       th:classappend="${#httpServletRequest.requestURI eq '/private/recipes' ? 'text-white' : 'text-secondary'}"
                       class="nav-link px-2">recipes</a>
                </li>
                <li>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/private/users}" th:text="#{menu.users}"
                       th:classappend="${#httpServletRequest.requestURI eq '/private/users' ? 'text-white' : 'text-secondary'}"
                       class="nav-link px-2">users</a>
                </li>
            </ul>

            <div class="text-end">
                <li class="d-inline-block mx-4">
                    <a th:href="@{''(lang='lt_LT')}" th:if="${#locale.toString() == 'en_EN'}">
                        <img th:src="@{/images/lt_flag.png}" class="language-selector"/>
                    </a>
                    <a th:href="@{''(lang='en_EN')}" th:if="${#locale?.toString() == 'lt_LT'}">
                        <img th:src="@{/images/en_flag.png}" class="language-selector"/>
                    </a>
                </li>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="btn btn-outline-light me-2" th:text="#{menu.login}">Login</a>
                    <a th:href="@{/public/signup}" class="btn btn-outline-light me-2"
                       th:text="#{menu.register}">Sign-up</a>
                </th:block>

                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST" class="d-inline-block"
                >
                    <span class="mx-2 text-white" th:text="${#authentication.getPrincipal().getFullName()}">a</span>
                    <button type="submit" class="btn btn-outline-light me-2" th:text="#{menu.logout}">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>
</html>