.error-block {
    background-color: indianred;
    display: inline-block;
    padding-right: 20px;
}


.recipe-details{
    font-size: 20px;
}
.details-header {
    font-size: 26px;
}


.error {
    background: #f13b3b;
    padding: 2px 0;
    color: #ddd;
    font-size: 10px;
    border-radius: 5px;
    width: 229px;
}

.language-selector {
    height: 20px;
    width: 20px;
}

.cart-link {
    display: inline-block;
    vertical-align: middle;
}
.logoImg {
    margin-right: 15px;
}

