<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="fragments/layout(title=#{recipesPage.title}, content=~{:: #main})">

<div class="container" id="main">
    <div th:replace="fragments/common :: successMessage(${message})">
    </div>
    <div th:if="${param.message ne null}" class="alert alert-success" role="alert">
        <span th:text="#{${param.message}}"></span>
    </div>
    <div class="row mt-2">
        <div class="d-flex justify-content-between">
            <div>
                <form method="GET" th:action="@{/recipes/search}" class="d-flex">
                    <input class="form-control mx-2" name="title" th:value="${param.title}">
                    <button class="btn btn-primary" th:text="search">Search</button>
                </form>
            </div>
            <div>
                <a class="btn btn-primary" th:href="@{/recipes/create}" th:text="'Create Recipe'">Create Recipe</a>
            </div>
        </div>

        <div th:if="${recipes.empty}">
            <h1>No Recipes Found!</h1>
        </div>
        <table th:if="${not recipes.empty}" class="table table-striped mt-4">
            <thead>
            <tr>
                <th>
                    <span>Title</span>
                    <a th:with="ascending=${recipes.sort.getOrderFor('title')?.direction?.name() eq 'ASC'}"
                       th:href="@{''(sort='title,' + ${ascending ? 'DESC' : 'ASC'} + ',ignoreCase')}">
                        <i class="fa-solid"
                           th:classappend="${ascending ? 'fa-arrow-up-z-a' : 'fa-arrow-down-a-z'}"
                        ></i>
                    </a>
                </th>
                <th>Description</th>
                <th>Published</th>
                <th>Preparation time</th>
                <th>Number of servings</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.title}">Samsung S23</td>
                <td th:text="${recipe.description}">Very good, very nice</td>
                <td th:text="${recipe.isPublished() == false ? 'unpublished' : 'published'}">10000.00</td>
                <td th:text="${recipe.preparationTime}">10000.00</td>
                <td th:text="${recipe.servings}">10000.00</td>
                <td class="d-flex">
                    <div class="px-1">
                        <a class="btn btn-primary" th:href="@{/public/recipes/{id}/review(id=${recipe.id})}"
                           th:text="'Review'"></a>
                    </div>
                    <div th:object="${addCategoryDTO}" class="px-1">
                        <a class="btn btn-primary" th:href="@{/private/recipes/{id}(id=${recipe.id})}" th:text="'Edit'"></a>
                    </div>
                    <form class="px-1" th:action="@{/private/recipes/{id}/publish(id=${recipe.id})}" method="POST">
                        <button class="btn btn-success">
                            Publish
                        </button>
                    </form>
                    <form class="px-1" th:action="@{/private/recipes/{id}/unpublish(id=${recipe.id})}" method="POST">
                        <button class="btn btn-success">
                            Unpublish
                        </button>
                    </form>
                    <form class="px-1" th:action="@{/private/recipes/{id}/delete(id=${recipe.id})}" method="POST">
                        <button class="btn btn-danger" th:text="'Delete'"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination mt-4"
            th:with="order=${recipes.sort.sorted ? recipes.sort.iterator().next() : null},
                 ignoreCase=${order ne null and order.ignoreCase ? 'ignoreCase' : ''},
                 orderParam=${order ne null ? order.property + ',' + order.direction.name() + ',' + ignoreCase : null}">
            <li class="page-item"
                th:classappend="${recipes.hasPrevious() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{''(page=${recipes.number - 1}, sort=${orderParam})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:each="page : ${#numbers.sequence(1, recipes.totalPages)}" class="page-item"
                th:classappend="${recipes.number == page - 1 ? 'active' : ''}">
                <a th:href="@{''(page=${page - 1}, sort=${orderParam})}"
                   th:text="${page}" class="page-link">1</a>
            </li>

            <li class="page-item"
                th:classappend="${recipes.hasNext() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{''(page=${recipes.number + 1}, sort=${orderParam})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

</div>
</html>