<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="fragments/layout :: layout(title=#{recipes.details.title}, content=~{:: #main})">


<div class="container" id="main">
    <div class="row mt-5 recipe-details">
        <div class="col-3"></div>
        <ul class="list-group col-6">
            <li class="list-group-item p-3 bg-dark text-white mb-2 details-header" aria-current="true" th:text="*{recipe.title}">An active item</li>
            <li class="list-group-item" th:text="*{recipe.description}">A second item</li>
            <li class="list-group-item" th:text="*{recipe.ingredients}">A third item</li>
            <li class="list-group-item" th:text="*{recipe.preparation}">A fourth item</li>
            <li class="list-group-item" th:text="*{recipe.servings}">And a fifth one</li>
        </ul>
    </div>
   </div>
</html>