<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="fragments/layout :: layout(title=#{users.register.title}, content=~{:: #main})">

<div class="container" id="main">
    <div th:if="${param.message ne null}" class="alert alert-success" role="alert">
        <span th:text="#{${param.message}}"></span>
    </div>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <form th:action="@{/public/signUpForm/create}" th:object="${user}" method="POST"
                                  class="mb-md-5 mt-md-4 pb-2">
                                <h2 class="fw-bold mb-2 text-uppercase" th:text="#{users.register.title}">Register</h2>
                                <p class="text-white-50 mb-5" th:text="#{users.register.form.desc}">as</p>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-outline form-white mb-4">
                                            <div class="error-cont">
                                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                                   class="error">Nasdas</p>
                                            </div>
                                            <input class="form-control" th:field="*{username}"/>
                                            <label class="form-label" th:text="#{users.username}">Username</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-outline form-white mb-4">
                                            <div class="error-cont">
                                                <p th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"
                                                   class="error">Nasdas</p>
                                            </div>
                                            <input class="form-control" th:field="*{emailAddress}"/>
                                            <label class="form-label" th:text="#{users.emailAddress}">emailAddress</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-outline form-white mb-4">
                                            <div class="error-cont">
                                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                                   class="error">password</p>
                                            </div>
                                            <input class="form-control" type="password" th:field="*{password}"/>
                                            <label class="form-label" th:text="#{users.password}">password</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-outline form-white mb-4">
                                            <div class="error-cont">
                                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                                   class="error">password</p>
                                            </div>
                                            <input class="form-control" type="password" th:field="*{password}"/>
                                            <label class="form-label" th:text="#{users.password.confirm}">password</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-outline form-white mb-4">
                                            <div class="error-cont">
                                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                                   class="error">password</p>
                                            </div>
                                            <input class="form-control" th:field="*{name}"/>
                                            <label class="form-label" th:text="#{users.name}">password</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-outline form-white mb-4">
                                            <div class="error-cont">
                                                <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                                   class="error">surname</p>
                                            </div>
                                            <input class="form-control" th:field="*{surname}"/>
                                            <label class="form-label" th:text="#{users.surname}">surname</label>
                                        </div>
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit"
                                        th:text="#{users.register.btn}">Register
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>